{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ref</th>
                <td>{{ user.ref }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ user.cin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'ref': user.ref}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
